.my-button-blue {
    -fx-font-size: 12pt;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color: #0092a9;
    -fx-background-radius: 10px;
}

.stack-pane {
    -fx-background-radius: 50 0 0 0;
}